#draggable, #draggable2 {
     width: 90px; 
     height: 90px; 
     padding: 0.5em; 
     float: left; 
     margin: 10px 10px 10px 0; 
    }

#droppable, #droppable2 { 
    width: 120px; 
    height: 120px; 
    padding: 0.5em; 
    float: left; 
    margin: 10px; 
}
h3 { 
    clear: left; 
}
.card-header h4, .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-card {
    width: 100px; /* Set a fixed width */
    font-size: 0.8rem; /* Smaller text */
    padding: 8px; /* Smaller padding */
}